<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none" thread-count="2">


   
    <test name="Test">
		<classes>
           <!-- <class name="com.test1.test.MyAccountPageTests"></class> -->
			<!-- <class name="com.sabre.teststudio.HubSanityTest"></class> -->
			<!-- <class name="com.sabre.teststudio.AsrSanityTest"></class> -->
			<class name="com.test1.test.MyAccountPageTest">


            </class>
			<!-- <class name="com.sabre.teststudio.TestSabreWebServiceComplete"></class> -->
		</classes>
	</test>
</suite>
